{
  "extends": "@ivangabriele/eslint-config-base",
  "rules": {},
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "plugins": ["jest"],
      "env": {
        "jest": true
      }
    }
  ]
}
